.wp-block-calendar caption {
	border: 1px solid;
	padding: .75em .5em;
	text-transform: uppercase;
}

.wp-block-calendar table:where(:not(.has-text-color)) td,
.wp-block-calendar table:where(:not(.has-text-color)) th {
	border-color: currentColor;
}

:root .wp-block-calendar table:not(.has-background) th {
	background: var( --wp--preset--color--contrast );
	border-color: var( --wp--preset--color--contrast );
	color: var( --wp--preset--color--base );
}

.wp-block-calendar nav {
	margin-top: .5em;
}