.wp-block-comment-template ol {
	padding-left: min( 2.75rem, 7.2vw );
}

.is-style-spiekermann-comment-edit-link a,
.is-style-spiekermann-comment-reply-link a {
	border: 1px solid;
	border-radius: 5px;
	display: inline-flex;
	padding: .333em .666em;
	transition: all .1s linear;
}

:root .is-style-spiekermann-comment-edit-link a:hover,
:root .is-style-spiekermann-comment-reply-link a:hover {
	background-color: var( --wp--preset--color--contrast );
	color: var( --wp--preset--color--base );
	text-decoration: none;
}

.wp-block-comment-content > *:first-child { margin-top: 0; }
.wp-block-comment-content > *:last-child { margin-bottom: 0; }